# General
PUID=1000
PGID=1000
TZ=America/Los_Angeles

# Mounts
LOCALTIME=/etc/localtime
CONFIG_DIR=/home/user/config
DATA_DIR=/mnt/data
DOWNLOAD_DIR=/mnt/data/downloads
MEDIA_DIR=/mnt/data/media

# Ports
CALIBRE_WEB=8123
